body 
  margin: 0
  font-family: "Montserrat",sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $dark-1
  *
    font-family: "Montserrat",sans-serif
  &::-webkit-scrollbar
    width: 4px
    background-color: transparent
  &::-webkit-scrollbar-thumb
    background-color: $light-1
    border-radius: 4px


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace


.App
  animation: postLoad .8s forwards
